/*
* 中信联盟重磅上线css
*
*/
body{
	background:#fed430;
}
.banner{
	width:100%;
	height:3.36rem;
	background:url("../img/banner.jpg") no-repeat center center;
	background-size:cover;
}
.wrap{
	padding:0 0rem 0.85rem 0.15rem;
}
.ul-list{
	margin-bottom:0.15rem;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
.ul-list li{
	width:2.32rem;
	height:3.52rem;
	margin-right:0.15rem;
	box-shadow:0.07rem 0.07rem 0.07rem 0 rgba(0,0,0,0.2);
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-flex:1;
	box-flex:1;
	-webkit-box-pack:center;
	box-pack:center;
	background:#fff;
}
.ul-list li div{
	text-align:center;
}
.ul-list li div img{
	display:inline-block;
	height:2.28rem;
}
.ul-list li div:nth-of-type(2){
	padding:0 0.15rem 0 0.15rem;
}
.ul-list li div:nth-of-type(3){
	padding:0 0.15rem 0 0.15rem;
}
.ul-list li p.yellow-line{
	height:0.01rem;
	background:#fed430;
} 
.ul-list li div:nth-of-type(3) p{
	font-size:0.15rem;
	padding-top:0.15rem ;
	text-align:left;
}
.ul-list li div:nth-of-type(4){
	padding:0.1rem 0rem 0.25rem 0.15rem;
}
.ul-list li div:nth-of-type(4) p{
	font-size:0.15rem;
	text-align:left;
} 
.ul-list li div:nth-of-type(5) span.original-price{
	color:#e5e5e5;
	font-size:0.15rem;
	text-decoration:line-through;
	margin-right:0.1rem;
}
.ul-list li div:nth-of-type(5) span.price{
	color:#fd3400;
	font-size:0.28rem;
	font-weight:bold;
}